mixin layout__head(params)
  .layout__title_wrap.layout__wrap--between
    span.layout__title=params.title
    if (params.desc)
      span.layout__desc=params.desc

mixin layout__body(params)
  - if (!params.direction) params.direction = 'col'
  - const direction = 'layout__content--' + params.direction;

  .layout__content(class=direction)
    each item in params.items
      +#{item.block}(item)

mixin layout(params)
  .layout.my-3
    +layout__head(params)
    +layout__body(params)
