mixin layout(params)
  .layout.my-3
    .layout__title_wrap.layout__wrap--between
      span.layout__title=params.title
      if (params.desc)
        span.layout__desc=params.desc
    block

mixin layout__content()
  .layout__content
    block
