.btn {

  &_like {
    font-size: 10px;
    line-height: 12px;
    text-align: center;

    padding-top: 3px;
    padding-bottom: 3px;


    border: 1px solid;
    background: #fff;
    border-radius: 10px;

    &--liked {
      color: $color-purple;
      border-image-source: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
    &--not-liked {
      color: $color-dark-25;
      border: 1px solid rgba(31, 32, 65, 0.25);
    }

  }
}

.wrap_rates {
  &__element{

    &--checked {
      color: $primary-gradient;
    }
}}
