.btn {
  &_like {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-content: baseline;

    &__icon {
      font-size: 10px;
      line-height: 9px;
    }

    &--liked {
      color: $color-purple;
      border: 1px solid $primary-gradient;
    }

    &--not-liked {
      color: $color-dark-25;
      border: 1px solid $color-dark-25;
    }
  }
}

.rate {
  &__element {
    color: $color-purple;
  }
}
