.btn {
  border: none;
  border-radius: 22px;
  outline: none;
  padding: 14px 20px;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;

  &--dark {
    background: $gradient-primary;
  }

  &--light {
    color: $color-purple;
    background: #fff;
    border: 2px solid $color-purple;
  }

  &--text {
    background: #fff;
    color: $color-purple;
    border: none;
  }

  &--link {
    width: 100%;
    margin-right: 30px;
    position: relative;
    display: flex;
    align-content: center;

    span {
      flex-grow: 1;
    }
  }

  &:hover {
    opacity: 0.5;
  }

  //&:focus {
  //}
  //
  //&:active {
  //}

  &_like {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-content: baseline;

    &__icon {
      font-size: 10px;
      line-height: 9px;
    }

    &--liked {
      color: $color-purple;
      border: 1px solid $gradient-primary;
    }

    &--not-liked {
      color: $color-dark-25;
      border: 1px solid $color-dark-25;
    }
  }
}

.rate {
  &__element {
    color: $color-purple;
  }
}

.pagination {
  display: flex;
  align-content: space-between;
  list-style: none;

  &__element {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      background: $gradient-primary;
      border-radius: 22px;
      a {
        color: #fff;
      }
    }
  }

  &__link {
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    color: $color-dark-25;
  }

  &__next {
    background: $gradient-secondary;
    border-radius: 22px;
    color: #fff;
  }
}
