//include ../blocks/mixins

doctype html
html(class='page no-js', lang='ru')

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document

    block meta
      title Home

    block head
      //- link(rel='stylesheet', href='css/style.css')
      //- script
      //-   include ../js/head-script.js

      link(rel="stylesheet", href="../scss/main.scss")

  body
    block content
