extends ../templates/page.pug

mixin colors_item(color, name, code)
  .row.mb-4.colors_list
    .col-12.col-sm-3
      .colors_list__img(style="background-color: " + code)
    .col-12.col-sm-9
      .colors_list__name
        h2= name
      .colors_list__code= color

mixin text_item(tag, name, text)
  .row.mb-4
    .col-2= name
    .col-10
      #{tag}= text

block meta
  title Colors & Type

block content
  .container
    .row.mt-5
      .col-sm-12.col-md-5.col
        +colors_item("#1F2041", "Dark Shade 100%", "#1F2041")
        +colors_item("#1F2041", "Dark Shade 75%", "rgba(31, 32, 65, 0.75)")
        +colors_item("#1F2041", "Dark Shade 50%", "rgba(31, 32, 65, 0.50)")
        +colors_item("#1F2041", "Dark Shade 25%", "rgba(31, 32, 65, 0.25)")
        +colors_item("#1F2041", "Dark Shade 5%", "rgba(31, 32, 65, 0.05)")
        +colors_item("#1F2041", "Purple", "#BC9CFF")
        +colors_item("#6FCF97", "Green", "#6FCF97")
      .col-sm-12.col-md-5.col
        +text_item("h1", "H1", "This one is the sub-section or widget title")
        +text_item("h2", "H2", "Next one is the item title inside widgets")
        +text_item("h3", "H3", "This is a label or CTA text")
        +text_item("p", "Body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.")
