extends ../templates/page.pug

block meta
  title Form Elements

block content
  .container-xl
    .row
      .col-sm-12.col-md-4
        +layout({
          title: 'Text Field',
          desc: 'Default',
          items: [
            {
              block: 'input',
              name: 'email',
              type: 'email',
              placeholder: 'Email',
            }]
        })
        +layout({
          title: 'Text Field',
          desc: 'Hover / Focus',
          items: [
            {
              block: 'input',
              name: 'email',
              type: 'text',
              placeholder: 'This is pretty awesome',
            }]
        })
        +layout({
          title: 'Dropdown',
          items: [
            {
              block: 'dropdown',
              name: 'date',
              type: 'text',
              placeholder: 'Сколько гостей',
              options: [{
                value: 1,
                name: '1',
              }, {
                value: 2,
                name: '2',
              }, {
                value: 3,
                name: '3',
              }
              ]
            }]
        })
        +layout({
          title: 'masked text field',
          items: [
            {
              block: 'input',
              name: 'date',
              type: 'text',
              placeholder: 'ДД.ММ.ГГГГ',
            }]
        })
      .col-sm-12.col-md-4
        +layout({
          title: "Checkbox Buttons",
          items: [
            {
              block: 'input',
              type: 'checkbox',
              name: 'smoke',
              value: 'smoke',
              label: 'Можно курить'
            },
            {
              block: 'input',
              type: 'checkbox',
              name: 'pets',
              value: 'pets',
              label: 'Можно с питомцами',
              checked
            },
            {
              block: 'input',
              type: 'checkbox',
              name: 'guests',
              value: 'guests',
              label: 'Можно пригласить гостей (до 10 человек)',
              checked
            },
          ]
        })
        +layout({
          title: "Radio Buttons",
          direction: 'row',
          items: [
            {
              block: 'input',
              type: 'radio',
              name: 'gender',
              value: 'male',
              label: 'Мужчина',
              checked: true
            },
            {
              block: 'input',
              type: 'radio',
              name: 'gender',
              value: 'female',
              label: 'Женщина'
            },
          ]
        })
        +layout({
          title: 'Toggle Buttons',
          items: [
            {
              block: 'input',
              type: 'toggle',
              name: 'spam',
              value: 'yes',
              label: 'Получать спецпредложения',
              checked: true
            },
            {
              block: 'input',
              type: 'toggle',
              name: 'spam',
              value: 'no',
              label: 'Получать спецпредложения',
              checked: false
            },
          ]
        })
        +layout({
          title: "like button",
          direction: 'row',
          items: [
            {
              block: 'button',
              type: 'like',
              name: 'likes_count',
              value: '2'
            }, {
              block: 'button',
              type: 'like',
              name: 'likes_count',
              value: '12',
              liked: true
            }
          ]
        })

        +layout({
          title: "rate button",
          direction: 'row',
          items: [
            {
              block: 'button',
              type: 'rate',
              name: 'rate',
              rate: '4'
            },
            {
              block: 'button',
              type: 'rate',
              name: 'rate',
              rate: '5'
            }
          ]
        })

      .col-sm-12.col-md-4
        +layout({
          items: [
            {
              title: 'Price range',
              block: 'range',
              name: 'price',
              type: 'range',
              min: '0',
              max: '30000'
            }]
        })
