extends ../templates/page.pug

block meta
  title Template toxin

block content
  .container
    .row
      .col-md
        h1 Pages
        ul
          li
            a(href='colors.pug') Colors & Type
          //li
            //a(href='form.pug') Form Elements

